.App {
  text-align: center;
  min-width: 100% !important;
  min-height: 100% !important;
}

.large { 
  font-size: 375% !important;
}

.medlarge { 
  font-size: 300% !important;
}

.medium { 
  font-size: 275% !important;
}

.smallmed { 
  font-size: 200% !important;
}

.small { 
  font-size: 125% !important;
}

.xsmall { 
  font-size: 100% !important;
}

.white {
  color: white;
}

.lexi {
  width: 55vh;
  height: auto;
  border-radius: 20px;
}

.arrow {
  width: 5%;
}

.dropdown-toggle::after {
  content:none !important;
}

.menuicon {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 10%;
}

#aboutBtn, #emailBtn {
  background-color: white !important;
  border-color: transparent !important;
  border-style: solid !important;
  border-radius: 20px !important;
  border-width: 1px !important;
  /* color: #eccfec; */
  color: black;
  font-family: "Univers-Extended";
  font-size: 95% !important;
  padding: 13px 40px 10px 40px !important;
}

#aboutBtn:hover,
#emailBtn:hover {
  box-shadow: 0 15px 30px   rgba(0, 0, 0, 0.7);
}

#workBtn {
  background-color: black !important;
  border-color: transparent !important;
  border-style: solid !important;
  border-radius: 20px !important;
  border-width: 1px !important;
  color: white;
  font-family: "Univers-Extended";
  font-size: 95% !important;
  padding: 13px 30px 10px 30px !important;
}

#workBtn:hover {
  box-shadow: 0 15px 30px   rgba(0, 0, 0, 0.7);
}

.socials:hover {
  opacity: .6;
}

.contmargin {
  margin: 0 7.5%;
}

.curveimg {
  border-radius: 20px !important;
  margin: 3% !important;
}

.spotify {
  border-radius: 20px !important;
  margin: 3% !important;
}

.backcont {
  background-color: #eccfec83 !important;
  border-radius: 20px !important;
  padding: 2% !important;
}

.aboutcont {
  max-width: 900px !important;
}

.footer {
  margin-top: .5rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100% !important;
  font-family: "Univers-Condensed";
  font-size: 90%;
}

.dropdown-item:hover {
    background-color: #f3f3f3 !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f3f3f3 !important;
  color: #000000 !important;
}

.dropdown-menu {
  background-color: #ffffff !important;
  border-width: 0 !important;
}

.whitelink {
  text-decoration: none;
  color: white;
}

.whitelink:hover {
  color: rgba(255, 255, 255, 0.623);
}

.ogg {
  font-family: 'Ogg-Roman';
}

.univers {
  font-family: "Univers";
}

.universcondensed {
  font-family: "Univers-Condensed";
}

.universcondensedbold {
  font-family: "Univers-CondensedBold";
}

.universextended {
  font-family: "Univers-Extended";
}

.largespaceabove {
  padding-top: 3% !important;
}

.spaceabove {
  padding-top: 2% !important;
}

.spacebelow {
  padding-bottom: 2% !important;
}

.spacer {
  padding: 2% !important;
}

@media screen and (max-width: 800px) { 
  .lexi {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  } 

  #workBtn, #aboutBtn, #emailBtn {
    font-size: 98% !important;
  }
  
  .arrow {
    width: 20%;
  }
}