.App {
  text-align: center;
  font-size: 4em !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.large { 
  font-size: 150% !important;
}

.medlarge { 
  font-size: 125% !important;
}

.medium { 
  font-size: 100% !important;
}

.smallmed { 
  font-size: 75% !important;
}

.small { 
  font-size: 50% !important;
}

.xsmall { 
  font-size: 35% !important;
}

.white {
  color: white;
}

.ogg {
  font-family: 'Ogg-Roman';
}

.univers {
  font-family: "Univers";
}

.universcondensed {
  font-family: "Univers-Condensed";
}

.universcondensedbold {
  font-family: "Univers-CondensedBold";
}

.largespaceabove {
  padding-top: 3% !important;
}

.spaceabove {
  padding-top: 2% !important;
}

.spacebelow {
  padding-bottom: 2% !important;
}

.spacer {
  padding: 2% !important;
}

.homelogo {
  width: 4% !important;
  height: auto !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
