body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Univers";
  src: local("Univers"),
  url("./fonts/Univers.ttf") format("truetype");
}

@font-face {
  font-family: "Univers-Black";
  src: local("Univers-Black"),
  url("./fonts/Univers-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Univers-Light";
  src: local("Univers-Light"),
  url("./fonts/Univers-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Univers-Condensed";
  src: local("Univers-Condensed"),
  url("./fonts/Univers-Condensed.ttf") format("truetype");
}

@font-face {
  font-family: "Univers-CondensedBold";
  src: local("Univers-CondensedBold"),
  url("./fonts/Univers-CondensedBold.ttf") format("truetype");
}

@font-face {
  font-family: "Ogg-Roman";
  src: local("Ogg-Roman"),
  url("./fonts/Ogg-Roman.ttf") format("truetype");
}